In [3]:
import warnings
import importlib
import pandas as pd

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import dash_core_components as dcc
import dash_html_components as html
from jupyter_dash import JupyterDash
from dash.dependencies import Input, Output

import visualizers
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [4]:
warnings.filterwarnings('ignore')

## cashflow table

In [116]:
importlib.reload(visualizers)
cashflow_dash = visualizers.CashflowVisualizer(2379)
cashflow_dash.run_dash()

Dash app running on http://127.0.0.1:8050/

In [21]:
cashflow_dash.features

Index(['營運現金流', '營業淨現金流', '資本支出', '投資淨現金流', '籌資淨現金流', '自由現金流', '淨現金流'], dtype='object')

## stock price

In [46]:
importlib.reload(visualizers)
price_dash = visualizers.PriceVisualizer(2890)
price_dash.run_dash()

updating data...
start date 2021-05-22
today 2021-05-29
Dash app running on http://127.0.0.1:8050/

In [40]:
price_dash.data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2016-01-04,79.400002,80.000000,76.599998,76.599998,64.862694,5116000.0
1,2016-01-05,76.199997,78.800003,75.599998,78.000000,66.048164,7664000.0
2,2016-01-06,79.000000,79.000000,74.199997,74.199997,62.830429,7794000.0
3,2016-01-07,74.199997,75.300003,74.000000,74.000000,62.661087,6380000.0
4,2016-01-08,74.500000,77.699997,74.400002,77.599998,65.709457,5739000.0
...,...,...,...,...,...,...,...
1311,2021-05-24,450.000000,458.500000,441.000000,452.500000,452.500000,1929683.0
1312,2021-05-25,457.000000,474.500000,454.000000,469.000000,469.000000,3921074.0
1313,2021-05-26,469.000000,493.000000,465.500000,485.500000,485.500000,3891952.0
1314,2021-05-27,484.000000,489.500000,477.000000,489.500000,489.500000,4863177.0
1315,2021-05-28,487.000000,502.000000,487.000000,497.000000,497.000000,2194376.0

## profit loss

In [14]:
importlib.reload(visualizers)
profit_loss_dash = visualizers.ProfitLossVisualizer(2379)
profit_loss_dash.run_dash()

Dash app running on http://127.0.0.1:8050/

## asset debt

In [13]:
importlib.reload(visualizers)
asset_debt_dash = visualizers.AssetDebtVisualizer(5608)
asset_debt_dash.run_dash()

Dash app running on http://127.0.0.1:8050/

In [120]:
pd.read_csv(f"../data_sample/asset_debt/standard_asset_debt.csv",
            header=[0, 1])

     year       105_1                                                  \
     code        流動資產        非流動資產         資產總額        流動負債     非流動負債
0    1101  78482102.0  200347937.0  278830039.0  64818835.0  59260936
1    1102  48453008.0  207240042.0  255693050.0  58894214.0  50688489
2    1103  10270628.0   16545849.0   26816477.0   1515478.0  11316666
3    1104   2976457.0   17239993.0   20216450.0   2470844.0   1382159
4    1108   5199696.0    2541416.0    7741112.0   2034747.0    760985
..    ...         ...          ...          ...         ...       ...
908  3712         NaN          NaN          NaN         NaN       NaN
909  6515         NaN          NaN          NaN         NaN       NaN
910  6776         NaN          NaN          NaN         NaN       NaN
911  6768         NaN          NaN          NaN         NaN       NaN
912  6781         NaN          NaN          NaN         NaN       NaN

                                                  ...  109_3        109_4  \
            負債總額         權益總額          股本 每股參考淨值  ... 每股參考淨值         流動資產
0    124079771.0  154750268.0  36921759.0  29.17  ...  32.61  124309171.0
1    109582703.0  146110347.0  33614472.0  37.90  ...  42.38   87023947.0
2     12832144.0   13984333.0   7747805.0  19.13  ...  34.66   11726520.0
3      3853003.0   16363447.0   6282891.0  25.81  ...  27.23    4391640.0
4      2795732.0    4945380.0   4047380.0  12.13  ...  11.32    5259278.0
..           ...          ...         ...    ...  ...    ...          ...
908          NaN          NaN         NaN    NaN  ...  26.40   13443029.0
909          NaN          NaN         NaN    NaN  ...  53.22    1648309.0
910          NaN          NaN         NaN    NaN  ...  20.01    4162596.0
911          NaN          NaN         NaN    NaN  ...    NaN   10538173.0
912          NaN          NaN         NaN    NaN  ...    NaN    5829603.0

                                                                    \
           非流動資產         資產總額        流動負債       非流動負債         負債總額
0    265197065.0  389506236.0  72103708.0  98572475.0  170676183.0
1    210062908.0  297086855.0  64027610.0  63172293.0  127199903.0
2     28919707.0   40646227.0   3042465.0  12586413.0   15628878.0
3     19711296.0   24102936.0   3795424.0   1522159.0    5317583.0
4      2768029.0    8027307.0   2151262.0   1219126.0    3370388.0
..           ...          ...         ...         ...          ...
908    9363980.0   22807009.0  10542565.0   4087189.0   14629754.0
909     757769.0    2406078.0    490865.0    143643.0     634508.0
910     624256.0    4786852.0   3113537.0    146861.0    3260398.0
911    5756694.0   16294867.0   3777034.0   1735825.0    5512859.0
912     862901.0    6692504.0   2933790.0    125786.0    3059576.0


            權益總額          股本 每股參考淨值
0    218830053.0  60102549.0  34.41
1    169886952.0  33614472.0  43.96
2     25017349.0   7747805.0  37.61
3     18785353.0   6536092.0  28.54
4      4656919.0   4047380.0  11.51
..           ...         ...    ...
908    8177255.0   2462421.0  28.67
909    1771570.0    305710.0  57.95
910    1526454.0    737484.0  20.69
911   10782008.0   1742606.0  61.87
912    3632928.0    637508.0  56.87

[913 rows x 181 columns]