In [2]:
import requests
import pandas as pd
import numpy as np
import config

In [3]:
urls = {'profit_loss':'https://mops.twse.com.tw/mops/web/ajax_t163sb04', #綜合損益
        'asset_debt': 'https://mops.twse.com.tw/mops/web/t163sb05', #資產負債,
        'operation_revenue': 'https://mops.twse.com.tw/mops/web/t21sc04_ifrs', #營業收入
        'operation_analysis': 'https://mops.twse.com.tw/mops/web/t163sb06'#, 營業分析
        #'gross': 'https://mops.twse.com.tw/mops/web/t163sb07' #毛利率(可以從綜合損益找到）
        }

In [4]:


def query(year, data_type):
    dfs = []
    for i in range(4):
        r = requests.post(urls[data_type], {
        'encodeURIComponent':1,
        'step':1,
        'firstin':1,
        'off':1,
        'TYPEK':'sii',
        #'co_id':stock_id, 
        'year':str(year),
        'season':str(i+1),
        })
        r.encoding = 'utf8'
        dfs.append(pd.read_html(r.text, header=None))
    return dfs

def extration_by_season_per_year(df_list, column_names, company_type, year):
    #company_type = 3
    norms = {}
    for col in column_names[2:]:
        norm_data = df_list[0][company_type][['公司代號', '公司名稱']]
        for i in range(4):
            #print(i)
            new_data = df_list[i][company_type][['公司代號', '公司名稱', col]]
            new_data.columns = ['公司代號', '公司名稱', f"{year}_{i+1}"]
            norm_data = norm_data.merge(new_data, how='outer')
        norms[col] = norm_data
    return norms

In [5]:
data = query(109, 'profit_loss')

# data[i][j]
# i: season
# j:
#    1: bank
#    3: standard
#    4: holdings
#    5: insurance
#    6: other

In [28]:
norm = extration_by_season_per_year(data, config.profit_loss_col['standard'], 3, 109)

In [29]:
norm

{'營業收入':      公司代號    公司名稱       109_1       109_2       109_3      109_4
 0    1101      台泥  21976200.0  52439827.0  82248488.0  114367247
 1    1102      亞泥  13138882.0  33828093.0  54564173.0   78240880
 2    1103      嘉泥    495334.0    992319.0   1481489.0    2058417
 3    1104      環泥   1253758.0   2591631.0   3886551.0    5426217
 4    1108      幸福   1104720.0   2226696.0   3358346.0    4530172
 ..    ...     ...         ...         ...         ...        ...
 906  6515      穎崴         NaN   1460781.0   2287484.0    2909821
 907  6743     安普新         NaN   1336698.0   3413171.0    4998255
 908  6776    展碁國際         NaN   8072571.0  12879557.0   17281341
 909  6768   志強-KY         NaN         NaN         NaN   13514535
 910  6781  AES-KY         NaN         NaN         NaN    6306568

 [911 rows x 6 columns],
 '營業成本':      公司代號    公司名稱       109_1       109_2       109_3     109_4
 0    1101      台泥  16195489.0  35779548.0  55034502.0  76779667
 1    1102      亞泥  10440940.0  24453090.0  38786420.0  54911404
 2    1103      嘉泥    514817.0   1014902.0   1522378.0   2202158
 3    1104      環泥   1085306.0   2197945.0   3272827.0   4519186
 4    1108      幸福    921863.0   1833466.0   2787372.0   3813497
 ..    ...     ...         ...         ...         ...       ...
 906  6515      穎崴         NaN    899580.0   1391709.0   1743140
 907  6743     安普新         NaN   1000464.0   2522270.0   3753197
 908  6776    展碁國際         NaN   7740687.0  12354002.0  16570121
 909  6768   志強-KY         NaN         NaN         NaN  11005026
 910  6781  AES-KY         NaN         NaN         NaN   4289805

 [911 rows x 6 columns],
 '營業毛利（毛損）':      公司代號    公司名稱      109_1       109_2       109_3     109_4
 0    1101      台泥  5780711.0  16660279.0  27213986.0  37587580
 1    1102      亞泥  2697942.0   9375003.0  15777753.0  23329476
 2    1103      嘉泥   -19483.0    -22583.0    -40889.0   -143741
 3    1104      環泥   168452.0    393686.0    613724.0    907031
 4    1108      幸福   182857.0    393230.0    570974.0    716675
 ..    ...     ...        ...         ...         ...       ...
 906  6515      穎崴        NaN    561201.0    895775.0   1166681
 907  6743     安普新        NaN    336234.0    890901.0   1245058
 908  6776    展碁國際        NaN    331884.0    525555.0    711220
 909  6768   志強-KY        NaN         NaN         NaN   2509509
 910  6781  AES-KY        NaN         NaN         NaN   2016763

 [911 rows x 6 columns],
 '本期淨利（淨損）':      公司代號    公司名稱      109_1       109_2       109_3     109_4
 0    1101      台泥  3481119.0  12125685.0  20706302.0  27991393
 1    1102      亞泥  1130599.0   6833818.0  12987599.0  18773807
 2    1103      嘉泥  -214194.0    -51747.0    593545.0   1837994
 3    1104      環泥    48161.0    485975.0    880789.0   1259795
 4    1108      幸福    93609.0    228420.0    326995.0    392269
 ..    ...     ...        ...         ...         ...       ...
 906  6515      穎崴        NaN    256302.0    412816.0    530965
 907  6743     安普新        NaN     76963.0    374517.0    495059
 908  6776    展碁國際        NaN     82563.0    142831.0    194218
 909  6768   志強-KY        NaN         NaN         NaN    409107
 910  6781  AES-KY        NaN         NaN         NaN    906913

 [911 rows x 6 columns],
 '營業費用':      公司代號    公司名稱      109_1      109_2      109_3    109_4
 0    1101      台泥  1320557.0  2875517.0  4377170.0  6245763
 1    1102      亞泥   676303.0  1942527.0  2700577.0  3659338
 2    1103      嘉泥   139428.0   294888.0   454738.0   603155
 3    1104      環泥   101027.0   210881.0   311289.0   413889
 4    1108      幸福    72805.0   134741.0   190364.0   260241
 ..    ...     ...        ...        ...        ...      ...
 906  6515      穎崴        NaN   225871.0   368238.0   498843
 907  6743     安普新        NaN   252087.0   412497.0   571885
 908  6776    展碁國際        NaN   258060.0   396923.0   534270
 909  6768   志強-KY        NaN        NaN        NaN  1719791
 910  6781  AES-KY        NaN        NaN        NaN   790340

 [911 rows x 6 columns],
 '營業利益（損失）':      公司代號    公司名稱      109_1       109_2       109_3     109_4
 0    1101      台泥  4460154.0  13784762.0  22836816.0  31341817
 1    1102      亞泥  2021639.0   7432476.0  13077176.0  19670138
 2    1103      嘉泥  -158911.0   -317471.0   -495627.0    822567
 3    1104      環泥    67425.0    182805.0    302435.0    493142
 4    1108      幸福   110132.0    258569.0    380690.0    447475
 ..    ...     ...        ...         ...         ...       ...
 906  6515      穎崴        NaN    335330.0    527537.0    667838
 907  6743     安普新        NaN     84147.0    478404.0    673173
 908  6776    展碁國際        NaN     73824.0    128632.0    176950
 909  6768   志強-KY        NaN         NaN         NaN    789718
 910  6781  AES-KY        NaN         NaN         NaN   1226423

 [911 rows x 6 columns],
 '營業外收入及支出':      公司代號    公司名稱     109_1      109_2      109_3    109_4
 0    1101      台泥  273722.0  1754828.0  3380640.0  4011489
 1    1102      亞泥 -453351.0  1852112.0  3785160.0  4473745
 2    1103      嘉泥  -46824.0   459508.0  1289321.0  1283475
 3    1104      環泥  -16843.0   334160.0   586586.0   804372
 4    1108      幸福   -5836.0   -12181.0   -15498.0    -3067
 ..    ...     ...       ...        ...        ...      ...
 906  6515      穎崴       NaN    -8860.0    -4557.0    -5742
 907  6743     安普新       NaN     4882.0   -31267.0   -68568
 908  6776    展碁國際       NaN    25484.0    43317.0    59602
 909  6768   志強-KY       NaN        NaN        NaN  -208031
 910  6781  AES-KY       NaN        NaN        NaN   -25153

 [911 rows x 6 columns],
 '基本每股盈餘（元）':      公司代號    公司名稱  109_1  109_2  109_3  109_4
 0    1101      台泥   0.55   1.94   3.15   4.32
 1    1102      亞泥   0.24   1.73   3.30   4.70
 2    1103      嘉泥  -0.33  -0.11   0.82   2.74
 3    1104      環泥   0.07   0.73   1.33   1.91
 4    1108      幸福   0.23   0.56   0.81   0.97
 ..    ...     ...    ...    ...    ...    ...
 906  6515      穎崴    NaN   8.43  13.56  17.42
 907  6743     安普新    NaN   0.73   3.38   4.40
 908  6776    展碁國際    NaN   1.12   1.94   2.63
 909  6768   志強-KY    NaN    NaN    NaN   2.35
 910  6781  AES-KY    NaN    NaN    NaN  14.17

 [911 rows x 6 columns]}